<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<template name="layout">
  <!--[if lt IE 9]>
    <p class="browser-warning"><strong><i class="icon-exclamation-sign"></i> Warning</strong> - You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/" target="_blank">upgrade your browser</a> to properly view this website.</p>
  <![endif]-->

  <nav class="navbar navbar-default" role="navigation">
    <div class="container">
      <a class="navbar-brand" href="{{pathFor 'dashboard'}}">Grocery App</a>

      <ul class="nav navbar-nav navbar-right">
        {{#if currentUser}}
          <li><a href="/sign-out">Sign Out</a></li>
        {{else}}
          <li><a href="/sign-up">Sign Up</a></li>
          <li><a href="/sign-in">Sign In</a></li>
        {{/if}}
      </ul>
    </div>
  </nav>

  <div class="container">
	  {{yield 'header'}}
	  {{yield}}
	  {{yield 'footer'}}
  </div>
</template>