@import '../../stylesheets/mixins';
@import '../../stylesheets/variables';

// DASHBOARD

ul {
	list-style:none;
	padding-left:0;
}

.item {
	background: #F5F5F5;
	border: #DDD 2px solid;
	margin: 4px;
	padding: 10px 0px 10px 10px;
	border-radius: 3px;
	font-size:18px;
	font-weight: 200;
}

#purch {
	margin-right:8px
}

.center {
	text-align:center;
}