<template name="dashboard">
  <div class="row">
    <h1>Your Shopping Lists <a href="{{pathFor 'newList'}}" class="btn btn-primary pull-right">New Shopping List</a></h1>
  </div>
  <hr>

  <ul>
    {{#each list}}
      <li>
        <div class="well">
          <p>
            <a href="{{ pathFor 'listPage' }}">{{title}}</a>
            <a href="{{ pathFor 'listPage' }}" class="btn btn-primary pull-right">View the list</a>
          </p>
        </div>
      </li>
    {{/each}}
  </ul>
</template>